.about {
  padding: 0 var(--ag-padding-m);
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 80px;
}

.about__content {
  margin-top: calc(var(--ag-padding-xl) * 3);
  display: flex;
  flex-direction: column;
  gap: var(--ag-padding-xl);

  h1,
  h2 {
    font-weight: 600;
    text-transform: uppercase;
  }

  p {
    font-size: var(--ag-paragraph);
    line-height: 140%;
    font-weight: 350;
  }

  h1 {
    font-size: var(--ag-title);
  }

  h2 {
    font-size: var(--ag-subtitle);
  }

  & span {
    font-size: var(--ag-paragraph);
    font-weight: 600;
  }

  a {
    width: fit-content;
    display: flex;
    flex-direction: column;

    & span {
      font-size: var(--ag-paragraph);
      line-height: 140%;
      font-weight: 350;
    }

    .button__underline {
      display: block;
      height: 1px;
      background-color: var(--ag-black);
      width: 0%;
      transition: 0.4s cubic-bezier(0.65, 0, 0.25, 1);
    }

    &:hover {
      .button__underline {
        width: 100%;
      }
    }
  }
}

.about__info {
  display: flex;
  gap: calc(var(--ag-padding-xl) * 2);
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: var(--ag-padding-m);

  &:nth-of-type(1) {
    width: 40%;
  }

  & div {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width:992px) {

  .about {
    height: 100%;
  }

  .about__info {
    gap: var(--ag-padding-l);
  }

  .about__info {
    flex-direction: column;
  }

  .about__text {
    &:nth-of-type(1) {
      width: 100%;
    }
  }
}
