.footer {
  margin: 0 auto;
  padding: 0 var(--ag-padding-m);
  max-width: 1440px;
  margin-top: calc(var(--ag-padding-xl) * 2);
  margin-bottom: var(--ag-padding-l);
  font-size: var(--ag-paragraph);
  font-weight: 350;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--ag-padding-l);
}

.footer__text {
  display: flex;
  gap: var(--ag-padding-l);
}

.footer__contact {
  display: flex;
  flex-direction: column;

  & a {
    font-weight: 600;

    &:nth-of-type(1) {
      font-weight: 350;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 992px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__text {
    flex-direction: column;
  }
}
